body {
  margin: 0;
  padding: 0;
  height: auto;
  text-align: center;
}

.container {
  margin: inherit;
  width: inherit;
}

.text1 {
  background: transparent;
  font-weight: bold;
  color: #FFFFFF;
  align-content: center;
  font-size: 50px;
}

.part1 {
  background: url(background/h_img.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0;
  font-family: 'Yeon Sung', cursive;
}

.part2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 22px;
}

.part3 {
  background: url(background/s_image.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

#part5 {
  background: url(background/c_image.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 5px;
}

.part6 {
  margin-top: 10px;
}

textarea {
  border-radius: 15px;
}

.btn:hover {
  color: #000000;
  text-decoration: none;
}

.btn {
  background-color: #329932;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  width: auto;
  margin-bottom: 20px;
}
.box1 {
  position: absolute;
  top: 50%;
  left: 20%;
  color: #e5e5e5;
  background: #00004c;
  border: 1px solid #800080;
  padding: 12px;
  display: none;
}
.box10
{
  position: absolute;
  top: 50%;
  left: 20%;
  color: #e5e5e5;
  background: #00004c;
  border: 1px solid #800080;
  padding: 12px;

}

.text3 {
  background: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  align-content: center;
}

h4 {
  font-weight: bold;
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.hide, .hide1, .hide2 {
  display: none;
}
